body {
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    padding: 0 300px;
}

.contenedor {
    border: 2px solid cornflowerblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.texto {
    color: rgb(92, 91, 89);
    font-size: 24px;
}

.div2 {
    background-color: blue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 0  0 15px 15px;
    -webkit-border-radius: 0  0 15px 15px;
    -moz-border-radius: 0  0 15px 15px;
    -ms-border-radius: 0  0 15px 15px;
    -o-border-radius: 0  0 15px 15px;
}

.div2 div {
    font-size: 16px;
    color: aliceblue;
    padding: 0 20px;
}