body {
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    padding: 15px 300px;
    margin: 0;
}

.contenedor {
    border: 1px solid grey;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.cabezera {
    background-color: grey;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0 ;
    -webkit-border-radius: 15px 15px 0 0 ;
    -moz-border-radius: 15px 15px 0 0 ;
    -ms-border-radius: 15px 15px 0 0 ;
    -o-border-radius: 15px 15px 0 0 ;
}

.text-cabezera {
    color: white;
    font-size: 32px;
}

.texto {
    color: rgb(92, 91, 89);
    font-size: 24px;
}
<<<<<<< HEAD

.div2 {
    background-color: blue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 0  0 15px 15px;
    -webkit-border-radius: 0  0 15px 15px;
    -moz-border-radius: 0  0 15px 15px;
    -ms-border-radius: 0  0 15px 15px;
    -o-border-radius: 0  0 15px 15px;
}

.div2 div {
    font-size: 16px;
    color: aliceblue;
    padding: 0 20px;
}
=======
>>>>>>> cabezera
