body {

    color: purple;
    font-family: Helvetica, sans-serif, sans-serif;
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding: 15px 300px;
    margin: 0;
}

.contenedor {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.cabezera {

    background-color: forestgreen;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0 ;
    box-shadow: 5px 5px 15px gray;
}

.text-cabezera {
    color: white;
    font-size: 32px;
}

.texto {
    color: rgb(92, 91, 89);
    font-size: 20px;
}

.texto h2 {
    color: black;
}

p img {
    width: 100%;
}

.div2 {
    background-color: slateblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 0  0 15px 15px;
    -webkit-border-radius: 0  0 15px 15px;
    -moz-border-radius: 0  0 15px 15px;
    -ms-border-radius: 0  0 15px 15px;
    -o-border-radius: 0  0 15px 15px;
}

.div2 div {
    font-size: 16px;
    color: aliceblue;
    padding: 0 20px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding-top: 5px;
}
